body{
background-color:#1b262c;
}
h1{
  color:#fd5e53;
  font-size:110px;
}
h2{
  color:#ffe3ed;
  font-size:75px;
}
h3{
  color:#dab8f3;
  font-size:60px;
}
h4{
  color:#f1d6ab;
  font-size:20px;
}
hr{

  border-style:none;
  border-top-style:dotted;
  border-color:white;
  width:10%;
  border-width:10px;
}
h5{
  color:#ffe3ed;
  font-size:30px;
}
